[MESSAGES CONTROL]

disable=
    import-error,
    missing-docstring,
    invalid-name,
    too-few-public-methods,
    too-many-arguments,
    duplicate-code,
    fixme,

[FORMAT]

max-line-length=120
